/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2016, 7:51:14 PM
    Author     : premy
*/

html, body {
    
    height: 100%;
}

body
{
  background-color: #cccccc;
  /*Next element in the middle of the page */
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  font-family: "Courier New";
}



.grid
{
    background: white;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 1.6px;
    position: relative;
    z-index: 1;
}

.grid table
{
   border-collapse: collapse;
}

.grid table, .grid tr, .grid td
{
    border: 0px solid black;
}

.grid tr
{
  padding: 0px;
  margin-left: 0;
  margin-right: 0;
}

.grid td
{
  height: 30px;
  width: 30px;
  margin: 0;
  text-align: center;
  padding: 0px 0px 0px 0px;
}

.grid .hline0
{
  left: calc(100%/ 3 - 1.6px/2);
  height: 100%;
  width: 1.6px;
  background-color: black;
  position: absolute;
}

.grid .vline0
{
  top: calc(100%/3 - 1.6px/2);
  width: 100%;
  height: 1.6px;
  background-color: black;
  position: absolute;
}

.grid .hline1
{
  left: calc(100%/3*2  - 1.6px/2);
  height: 100%;
  width: 1.6px;
  background-color: black;
  position: absolute;
}

.grid .vline1
{
  top: calc(100%/3*2 - 1.6px/2);
  width: 100%;
  height: 1.6px;
  background-color: black;
  position: absolute;
}

.grid input
{
  border: 2px solid rgb(173, 204, 204);
  height: 31px;
  width: 30px;
  box-shadow: 0px 0px 27px rgb(204, 204, 204) inset;
  transition:500ms all ease;
  padding:3px 3px 3px 3px;
  float:right;
  text-align: center;
  font-family: "Courier New";
}

.grid input:focus
{
  transition:500ms all ease;

}

.header
{
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  background: linear-gradient(gray, rgb(204, 204, 204));
}

.header .title
{
  
  font-size: 50px;
  z-index: 1;
  background: -webkit-linear-gradient(gray, rgb(150, 150, 150), rgb(204, 204, 204));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.header .button
{
  position: fixed;
  right: 0px;
  top: calc(30px - 25px/2);
  height: 18px;
  background: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0));
  opacity: 0.5;
  transition:500ms all ease;
}

.header .button:hover
{
   transition:500ms all ease;
   background-color: black;
   color: red;
   opacity: 0.7;
   border: red solid 5px;
   border-right:red solid 0px;
   top: 12.5px;
}

.header .button:active
{
  filter: invert(100%);
  transition:50ms all ease;
}

